.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.add-to-cart img{
  width: 79px;
  position: absolute;
  right: 1%;
  top: 1%;
}
.cart-count{
  
  position: absolute;
  right: 10px;
  margin: 9px 19px 0px 0px;
  font-size: 13px;
  top: 12px;
  z-index: 1;
  background-color: #08541e;
  /* padding: 7px; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
.add-to-cart img{
  width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
